PORT=5000
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/canteenqueue?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRES_IN=7d
RAZORPAY_KEY_ID=rzp_test_XXXXXXXXXXXXXXXX
RAZORPAY_KEY_SECRET=XXXXXXXXXXXXXXXXXXXXXXXX
STAFF_SECRET=your_staff_registration_key
